.pagination-space {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .button {
    border-radius: 4px;
    border: 1px solid var(--Black-85, #D9D9D9);
    background: var(--Black-100, #FFF);
    display: flex;
    padding: 6px 12px 6px 6px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: var(--Black-30, #4D4D4D);
    text-align: center;
    cursor: pointer;
  }

  .button:hover {
    border-color: black;
  }

  .button.next {
    padding: 6px 6px 6px 12px;
  }

  .pagination-number {
    display: flex;
    gap: 8px;
    align-items: center;
    max-width: 41%;
    overflow: scroll;
  }

  .page-number {
    width: 28px;
    height: 28px;
    padding: 4px 6px;
    color: var(--Black-30, #4D4D4D);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border-radius: 4px;
    cursor: pointer;
  }

  .page-number-dots {
    width: 28px;
    color: var(--Black-30, #4D4D4D);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
  }

  .page-number.selected {
    background: var(--Primary-Blue, #146EB4);
    color: #FFF;
  }