.search-table {
    display: flex;
    max-width: 248px;
    width: 100%;
    align-items: center;
    gap: var(--Spacing-spacing-04, 8px);
    
}

.search-table-input {
    padding: 9px 16px;
    padding-left: 40px;
    border-radius: 4px;
border: 1px solid var(--Black-85, #D9D9D9);
background: var(--Black-100, #FFF);
width: 100%;
}

.search-table-input::placeholder {
    color: var(--Black-60, #999);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}