.sidebar{
    background-color: #1E2640;
    color: #fff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-width: 224px;
}


.shop-header {
    align-items: center;
    gap: 12px;
    justify-content: left;
    cursor: pointer;
}

.shop-logo {
    border-radius: 4px
}

.shop-name {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
    gap: 4px;
}

.name {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.visit {
    font-size: 13px;
    color: #fff;
    opacity: 0.8;
    text-decoration: underline;
    text-underline-offset: 3px;
    cursor: pointer;
}

.navigation {
    flex: 1;
}

.navigation-link {
    display: flex;
    padding: 8px 16px;
    gap: 12px;
    align-items: center;
    opacity: 0.8;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px;
margin-bottom: 4px;
border-radius: 4px;
    cursor: pointer;
}

.navigation-link:hover {
    background: rgba(255, 255, 255, 0.10);
    opacity: 1; 
}

.navigation-link.selected {
    background: rgba(255, 255, 255, 0.10);
    opacity: 1;
}

.credits {
    padding: 6px 12px;
    display: flex;
    gap: 12px;
    text-align: left;
    align-items: center;
    background-color: #353C53;
    border-radius: 4px;
}

.wallet {
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 4px;
}

.available-credits {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.available-credits-header{
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    opacity: 0.8;
}

.available-credits-amount{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}


@media screen and (max-width: 950px){
    .sidebar {
    min-width: 90px;
    max-width: 90px;
    }
    .shop-header {
        justify-content: center;
    }
}